@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body { 
    font-family: "poppins";
    display: flex;
    height: 100%;
    background-color: #DDE8F0;
}

/* side Navigation */
header{
    width: 20%;
    background-color: #004581;
   /* background-color: #3d5254; */
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   overflow-y: scroll;
   box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.1) ;
}
.logo {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}
.logo > a{
    text-decoration: none;
    color: inherit;
}
.term {
    color: aqua;
}

header > .titlecontainer > .profile_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
header > .titlecontainer > .top > .hamburger {
    display: none;
}
.profile_image > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile_image > h4 {
    font-weight: 300;
    font-size: 40px;
    line-height: 65px;
    letter-spacing: -0.005em;
    color: #fff;
    margin: 30px 0;
}
hr {
    height: 1px;
    background-color: black;
    border: none;

}
.linkcont {
    padding: 0px 20px;
}
.links {
    display: flex;
    align-items: center;

}
.links.chatboard {
    margin-bottom: 50px;
    margin-top: 10px;

}
.icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.links  a {
    color: #E5EDEE;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}


/* main */
main{
    width: 80%;
    margin-left: 20%;
}
main > h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #1A191B;
    margin: 50px 0;
    text-align: center;
}
main > .products{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 0 80px;
}

main > .products > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 576px;
    height: 390px;
    background: #F7F7F7;
    border: 2px solid #004581;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
main > .products > div > .start{
    display: flex;
    justify-content: center;
    align-items: center;
}
main > .products > div > p{
    font-weight: 300;
    font-size: 40px;
    line-height: 65px;
    letter-spacing: -0.005em;
    color: #17191C;
    margin: 30px 0;
}
main > .products > div > .start > p{
    margin-right: 10px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: rgba(64, 61, 57, 0.7);
}
main > .products > .terms{
    margin-right: 30px;
}

main > .consents{
    background: #F7F7F7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px;
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
main > .consents.active{
    display: flex;
}
main > .consents > .checks > .product_consent{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > .consents > .checks > .product_consent > input{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
main > .consents > button{
    width: 141px;
    height: 50px;
    background: #004581;
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F7F7F7;
}

@media screen and (max-width:1100px) {
    main > .products > div > p {
        font-size: 30px;
        line-height: 55px;
    }
    .profile_image > h4 {
        font-size: 30px;
        line-height: 55px;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
    .links  a {
        padding: 10px 10px;
        font-size: 12px;
        line-height: 20px;
    }
    main > .consents {
        margin: 0 80px;
    }
}
@media screen and (max-width:900px) {
    main > .products > div > p {
        font-size: 25px;
        line-height: 40px;
    }
    .profile_image > h4 {
        font-size: 20px;
        line-height: 35px;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
    .links  a {
        padding: 10px 10px;
        font-size: 12px;
        line-height: 20px;
    }
    main > .products {
        padding: 0 30px;
    }
    main > .consents {
        margin: 0 30px;
    }
}
@media screen and (max-width: 600px) {
    main{
        margin: 0;
        width: 100%;
        margin-bottom: 100px;
    }
    header{
        width: 100%;
        height: fit-content;
    }
    header.active{
        width: 80%;
        height: 100%;
    }
    header > .titlecontainer > .top{
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;
        margin: 0 30px;
    }
    header > .titlecontainer > .top > .logo {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    header.active > .titlecontainer > .top > .logo {
        margin-left: 0px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    header > .titlecontainer > .top > .hamburger{
        color: #fff;
        display: block;
    }
    header > .titlecontainer > .top > .hamburger > span{
        height: 50px;
        width: 50px;
    }
    header.active > .titlecontainer > .top > .hamburger {
        text-align: center;
    }
    header > .titlecontainer > .profile_image{
        display: none;
    }
    header.active > .titlecontainer > .profile_image{
        display: flex;
    }
    header > .linkcont{
        display: none;
    }
    header.active > .linkcont{
        display: block;
    }
    main > .products {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        padding: 0 20px;
    }
    main > .products > div {
        width: 100%;
        height: 390px;
        margin: 20px 0;
    }
    main > .products > .terms {
        margin-right: 0px;
    }
    main > h2 {
        font-size: 30px;
        line-height: 40px;
        margin: 50px 0;
    }
    main > .consents {
        margin: 0 20px;
        flex-direction: column;
    }
    main > .consents > button {
        padding: 10px 20px;
        margin: 20px 0;
    }
}

@media screen and (max-width:300px) {
    main > .products > div > p {
        font-size: 20px;
        line-height: 30px;
    }
    main > .products > div > .start > p {
        font-size: 16px;
        line-height: 24px;
        margin-right: 5px;
    }
    main > .products > div > .start > img {
        width: 10px;
        height: 10px;
    }
}