@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #dde8f0;
  background-size: cover;
}

.Signup {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Signup h1{
  font-size: 50px;
}
.Signup p{
  font-size: 15px;
}
span {
  color: #017ba9;
  font-weight: bold;
}
.container {
  display: flex;
  height: 500px;
  width: 800px;
  margin: auto;
}
.form {
  width: 50%;
  align-items: center;
  margin: 40px;
  padding: 12px;
  margin: 15px;
}

p {
  font-size: 15px;
  margin: 5px 0;
  font-weight: bold;
  color: gray;
}

input[type="email"],
input[type="phonenumber"],
input[type="password"],
input[type="text"] {
  font-size: 15px;
  padding: 5px 5px;
  font-weight: bold;
  color: #000;
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
}
.fa-eye-slash{
  cursor: pointer;
  margin-left: -30px;
  
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input[type="checkbox"] {
  accent-color: #017ba9;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
}
input:hover {
  cursor: pointer;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side img {
  width: 280px;
  height: 280px;
  padding: 10px;
  margin: 55px;
  background-image: none;
}

.sin {
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0;
  padding: 1px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  border-radius: 10px;
  border: 10px solid transparent;
  color: white;
  background-color: #004581;
}

.sin:hover {
  color:#017ba9;
  cursor: pointer;
}