
 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Poppins:wght@300&display=swap'); 


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
  }

    

  body { 
    background-color:white;
   background-size: cover;
   

      }

          
        

          .Signup{
            position: relative;
            align-items: center;
            justify-content: center;
display: flex;

          }
          span{
            color: gray;
            font-weight: bold;
          }
        .container{
          display: flex;
          height: 500px;
          width: 800px;
          margin: auto;
          margin-top: 40px;
        }
        .form{
          width: 50%;
          align-items: center;
          margin: 40px;
          padding: 12px;
          margin: 15px ;
        }
        
         p{font-size: 15px;
        margin: 5px 0;
      font-weight: bold;
    color: gray;}

        input{
          font-size: 15px;
          opacity: 0.5;
          padding: 5px 5px;
          font-weight: bold;
          color: gray;
          border: 1px solid gray;
          border-radius:10px;
          width: 80%;
          background-color: rgba(248, 217, 222);
        } 


        input:hover{
          cursor: pointer ;
        }
        
        .side{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .side img{
          width: 280px;
          height: 280px;
          padding: 10px;
          margin: 55px;
        }

        .sin{ 
          font-weight: bold;
          font-size: 15px;
          margin: 10px 0;
          padding: 1px;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 80%;
          border-radius: 10px;
          border: 10px solid transparent;
           background-color: hsl(179, 100%, 13%) ;
           color: white;
        }
       
           
.sin:hover {
  color: gray;
  cursor: pointer;
}
