@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-size: cover;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup span {
  color: gray;
  font-weight: bold;
}
.container{
  display: flex;
  margin-top: 40px;
}
.form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side img {
  width: 80%;
}
.form-control {
  width: 80%;
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control input {
  width: 100%;
  margin: 5px 0;
  padding: 15px;
  font-size: 15px;
  opacity: 0.5;
  font-weight: bold;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgba(248, 217, 222);
}
.form-control input:hover {
  cursor: pointer;
}
.form-control input:focus {
	outline: 0;
	border-color: #777;
}

input::placeholder {
  color: black;
  padding: 10px;
}
.form-control img {
  width: 20px;
	visibility: hidden;
	position: absolute;
	top: 50px;
	right: 15px;
}
.form-control.error input {
	border-color: #e74c3c;
}
.form-control.error .error-icon {
	color: #e74c3c;
	visibility: visible;
}
.form-control.success .success-icon {
	color: green;
	visibility: visible;
}
.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	right: 2px;
	visibility: hidden;
}
.form-control.error small {
	visibility: visible;
}
.form .consent{
    width: 80%;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.form .consent input {
    width: auto;
    margin: 5px 0;
    padding: 15px;
}
button[type="submit"] {
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    padding: 1px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    border-radius: 10px;
    border: 10px solid transparent;
    background-color: hsl(179, 100%, 13%);
    color: white;
}
button[type="submit"]:hover {
  color: gray;
  cursor: pointer;
}

/* post form submission messages */
/* .form_message{
    display: none;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}
.form_message.active{
    display: flex;
}
.success_message{
    display: none;
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    left: 50%;
    padding: 70px 44px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 40%;
}
.failure_message{
    display: none;
    color: red;
    padding: 20px 0px;
    font-size: medium;
    width: 80%;
}

.success_message > h2{
    color: #161617;
    color: green;
    font-size: 35px;
    font-weight: 800;
    line-height: 49px;
    text-align: center;
}

.success_message.active, .failure_message.active{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

@media only screen and (max-width: 400px){
.container {
  padding: 50px 30px;
  flex-direction: column;
}
.signup {
  flex-direction: column;
}
.form {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.form-control {
    width: 100%;
}
.form .consent {
    width: 100%;
}
.failure_message {
    display: none;
    color: red;
    padding: 20px 0px;
    font-size: small;
    width: 100%;
}
.side {
  width: 100%;
  margin-top: 50px;
}

}
