/*link this footer.css file to all your html pages*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #F5F5F6;
}
footer{
    background-color: #3c4958;
    padding-bottom: 1rem;
    position: relative;
}
.ready-to-join{
    position: absolute;
    max-width: px;
    top: -100px;
    left: -20px;
    right: -10px;
    background: #d7ea9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem 3rem 3rem;
    margin: 0rem 5rem;
}
.ready-to-join p{
    font-size: 10.5px;
    line-height: 1.7;
}
.ready-to-join .subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.subscribe button{
    padding: 0.4rem;
    width: 80px;
    background: #98b2d1;
    border-width: 0rem;
    font-weight: 600;
}
.subscribe input{
    padding: 0.4rem;
    width: 180px;
    margin-right: 0.4rem;
    background: #d7ea9f;
    outline: 1px solid #616d36;
    border-width: 0rem;
}

.footer-wrapper{
    background: #3c4958;
    width: 100%;
    padding: 6rem 0em 8rem 0rem;
    display: flex;
    flex-direction: row;
}

#part-1{
    flex-basis: 35%;
    margin-left: 3rem;
}
#part-2, #part-3, #part-4{
    flex-basis: 20%;
    padding-left: 4rem;
}
.footer-box h5{
    color: #fff;
    font-size: 1rem;
}
.footer-box #header-01{
   visibility: hidden;
}

.footer-box .description{
    text-align: start;
    color: #BAD5FF;
    line-height: 1.4;
    font-size: 0.9rem;
    margin-right:5rem;
}

.footer-policy-links,.footer-quick-links, .footer-help-links{
    display: inline-block;
}
.footer-policy-links li,.footer-quick-links li, .footer-help-links li{
    margin: 0.5rem 0rem;
    list-style-type: none;
}
.footer-policy-links li a,.footer-quick-links li a, .footer-help-links li a{
    text-decoration: none;
    list-style-type: none;
    font-size: 0.9rem;
    color: #BAD5FF;
}

footer #hr{
    background-color: #BAD5FF;
    margin: 0rem 3rem;
}

footer .footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #BAD5FF;
    padding-top: 1rem;
}
.footer-bottom span{
    margin: 0rem 3rem;
    font-size: 0.8rem;
}

@media screen and (max-width:850px){
    .footer-wrapper{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0.5rem;
        gap: 0.8rem;

        grid-template-areas:
            'part-1 part-2'
            'part-3 part-4'
        ;
    }
    #part-1{
        grid-area: part-1;
        margin: 0rem auto;
        padding-left: 5rem;
    }
     #part-2{
        grid-area: part-2;
        margin:  auto;
    }
     #part-3{
        grid-area: part-3;
        margin: 1rem auto;
    }
     #part-4{
        grid-area: part-4;
        margin: 1rem auto;
    }
}

@media screen and (max-width:600px){
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
    }

    .footer-box{
        margin: autorem;
    }
    .footer-box h5{
        color: #fff;
        padding-top: 1.3rem;
    }
    #part-3, #part-4{
        margin-top: 0rem;
    }
}

@media screen and (max-width:450px){
    .ready-to-join{
        padding: 1rem 1rem 3rem 1rem;
        top: -160px;
        left: -45px;
        right: -45px;
    }
    .ready-to-join .subscribe{
        flex-direction: column;
    }
    .subscribe button{
        padding: 0.3rem;
        width: 70px;
        font-weight: 500;
    }
    .subscribe input{
        padding: 0.4rem;
        width: 160px;
        margin-bottom: 0.7rem;

    }
    .footer-bottom span{
        margin: 0rem 1rem;
        font-size: 0.8rem;
    }
}