*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #e5edee;
}
.Navbar{
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3d5254;
}
.Logo{
    width: 50px;
    cursor: pointer;
    color: #fff;
    height: 50px;
    position: relative;
    margin: 0 45px;
}
.menu{
    display: inline-block;
    margin-left: 70px;
}
.Navbar li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 25px;
    font-size: -25px;
    text-transform: uppercase;
}
.Navbar li a{
    text-decoration: none;
    color: #fff;
}
.button{
  width: 100px;
  padding: 10px 20px 10px 50px;
  text-align: center;
  margin: 15px 0;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid aliceblue;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
}
#login{
    border-radius: 12px;
    padding: 5px 0px;
    margin-left: 250px;
    border: 2px solid #6db953;
    color: #6db953;
}
#signup{
    border-radius: 12px;
    background: #81a8ac;
    margin-right: 75px;
    padding: 5px 0;
}
.body1 h2{
    margin-top: 50px;
    margin-left: 150px;
}
.body1 p{
    margin-top: 10px;
    margin-left: 150px;
}
.body1 p a{
    text-decoration: none;
    color: #6db953;
}
.questions{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 150px;
}
.sub-questions{
    padding-right: 30px;
    padding-bottom: 40px;
}
.sub-questions p{
    font-size: 15px;
}
.Contactbox{
    background-color: #fff;
    margin: 30px 150px;
    display: flex;
}
.Contactbox img{
    border-radius: 50%;
    width: 15%;
    height: 25vh;
    padding: 25px;
}
.Contactbox p{
    padding: 100px 0;
}
.Contactbox p a{
    text-decoration: none;
    color: #6db953;
}
.btn{
    margin-left: 250px;
    width: 15%;
    height: 5vh;
    border: none;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #3d5254;
    padding: 7px;
    margin-top: 100px;
    border-radius: 12px;
}
