@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #e5edef;
  background-size: cover;
}
.Navbar {
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004581;
}
.Logo {
  background-color: #0b95b9;
  color: #000;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 2px;
  margin: 0 45px;
  cursor: pointer;
  font-size: 30px;

}
.menu {
  display: inline-block;
  margin-left: 70px;
}
.Navbar li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 25px;
  font-size: -25px;
  text-transform: uppercase;
}
.Navbar li a {
  text-decoration: none;
  color: #fff;
}
button {
  width: 100px;
  padding: 10px 20px 10px 50px;
  text-align: center;
  margin: 15px 0;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid aliceblue;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
}
#login {
  border-radius: 12px;
  padding: 5px 0px;
  margin-left: 250px;
  border: 2px solid #dde8f0;
  color: #fff;
}
#login a {
  text-decoration: none;
  color: #fff;
}
#signup {
  border-radius: 12px;
  background: #0178a5;
  margin-right: 50px;
  padding: 5px 0;
}
#signup a {
  text-decoration: none;
  color: #fff;
}
#text{
  height: auto;
  width: 100%;
  padding: 15px 0;
  margin: 25px 0;
  background-color: #004581;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  font-size: 15px;
}
span {
  color: gray;
}

.para {
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin: 80px 100px 300px 130px;
  background-color: #a7c2c5;
  width: 80%;
  padding: 25px;
  padding-bottom: 100px;
  border-radius: 2px;
}

.para h1 {
  font-size: 25px;
  padding-bottom: 35px;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 45px;
}
.para p {
  text-align: justify;
  justify-content: space-evenly;
  font-size: 14px;
  padding-right: 80px;
  padding-left: 80px;
  align-items: center;
  padding-bottom: 10px;
}

form {
  margin-bottom: 30px;
}

.don {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(0, 0, 0);
  padding-top: 50px;
}
footer {
  background-color: #004581;
  padding-bottom: 1rem;
  position: relative;
}

.footer-wrapper {
  background: #004581;
  width: 100%;
  padding: 6rem 0em 8rem 0rem;
  display: flex;
  flex-direction: row;
}


#part-1 {
  flex-basis: 35%;
  margin-left: 3rem;
}
#part-2,
#part-3,
#part-4 {
  flex-basis: 20%;
  padding-left: 4rem;
}
.footer-box h5 {
  color: #fff;
  font-size: 1rem;
}
.footer-box #header-01 {
  visibility: hidden;
}

.footer-box .description {
  text-align: start;
  color: #bad5ff;
  line-height: 1.4;
  font-size: 0.9rem;
  margin-right: 5rem;
}

.footer-policy-links,
.footer-quick-links,
.footer-help-links {
  display: inline-block;
}
.footer-policy-links li,
.footer-quick-links li,
.footer-help-links li {
  margin: 0.5rem 0rem;
  list-style-type: none;
}
.footer-policy-links li a,
.footer-quick-links li a,
.footer-help-links li a {
  text-decoration: none;
  list-style-type: none;
  font-size: 0.9rem;
  color: #bad5ff;
}

footer #hr {
  background-color: #bad5ff;
  margin: 0rem 3rem;
}

footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #bad5ff;
  padding-top: 1rem;
}
.footer-bottom span {
  margin: 0rem 3rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 850px) {
  .footer-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0.5rem;
    gap: 0.8rem;

    grid-template-areas:
      "part-1 part-2"
      "part-3 part-4";
  }
  #part-1 {
    grid-area: part-1;
    margin: 0rem auto;
    padding-left: 5rem;
  }
  #part-2 {
    grid-area: part-2;
    margin: auto;
  }
  #part-3 {
    grid-area: part-3;
    margin: 1rem auto;
  }
  #part-4 {
    grid-area: part-4;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  .footer-box {
    margin: autorem;
  }
  .footer-box h5 {
    color: #fff;
    padding-top: 1.3rem;
  }
  #part-3,
  #part-4 {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 450px) {
  .ready-to-join {
    padding: 1rem 1rem 3rem 1rem;
    top: -160px;
    left: -45px;
    right: -45px;
  }
  .ready-to-join .subscribe {
    flex-direction: column;
  }
  .subscribe button {
    padding: 0.3rem;
    width: 70px;
    font-weight: 500;
  }
  .subscribe input {
    padding: 0.4rem;
    width: 160px;
    margin-bottom: 0.7rem;
  }
  .footer-bottom span {
    margin: 0rem 1rem;
    font-size: 0.8rem;
  }
}
