*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.background{
    background-color: #e5edee;
}
.Navbar{
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3d5254;
}
.Logo{
    width: 50px;
    cursor: pointer;
    color: #fff;
    height: 50px;
    position: relative;
    margin: 0 45px;
}
.menu{
    display: inline-block;
    margin-left: 70px;
}
.Navbar li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 25px;
    font-size: -25px;
    text-transform: uppercase;
}
.Navbar li a{
    text-decoration: none;
    color: #fff;
}
button{
  width: 100px;
  padding: 10px 20px 10px 50px;
  text-align: center;
  margin: 15px 0;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid aliceblue;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
}
#login{
    border-radius: 12px;
    padding: 5px 0px;
    margin-left: 250px;
    border: 2px solid #6db953;
    color: #6db953;
}
#signup{
    border-radius: 12px;
    background: #81a8ac;
    margin-right: 75px;
    padding: 5px 0;
}
.body1{
    background-color: #e5edee;
    /*width: 100%;*/
    padding: 30px;
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto;
}
.body1 h1{
    margin: 0 100px;
    font-weight: bold;
    font-size: 50px;
}
.body1 p{
    margin: 15px 100px;
}
.body1 button{
    margin: 5px 180px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 0;
    background-color: #7ba4a8;
    color: #000;
}
.body1 .image1{
    float: left;
    margin: 10px 10px;
}
.body2{
    background-color: #d2dfad;
    /*width: 100%;*/
    height: 50vh;
    padding: 30px;
    text-align: left;
}
.body2 .content2{
    float: right;
}
.body2 h3{
    font-weight: bold;
    font-size: 30px;
    margin: 5px 15px;
}
.body2 p{
    font-size: 15px;
    margin: 15px ;
}
.body2 .image2{
    margin: 25px 150px;
}
.body3{
    background-color: #d2dfad;
    height: 60vh;
    padding: 30px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto;
}
.body3 h3{
    font-weight: bold;
    font-size: 30px;
    margin: 5px 25px;
}
.body3 p{
    font-size: 15px;
    margin: 25px;
}
.body3 i{
    margin-right: 5px;
}
.body3 .image3{
    align-items: center;
    margin: 100px 0;
}
.body4{
    background-color: #d3e1e2;
    height: 40vh;
    padding: 25px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: auto auto;
}
.body4 h3{
    font-weight: bold;
    font-size: 30px;
    margin: 5px 25px;
}
.body4 p{
    font-size: 15px;
    margin: 25px;
}
.body4 button{
    margin: 5px 180px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    background-color: #7ba4a8;
    color: #000;
}
.body5{
    background-color: #e5edee;
    height: 70vh;
    padding: 25px;
    /*display: grid;
    grid-template-columns: auto auto;*/
}
.body5 h3{
    font-weight: bold;
    font-size: 30px;
    margin: 5px 25px;
}
.body5 p{
    font-size: 15px;
    margin: 25px;
}
.body5 .semibox{
    background-color: #bdd1d3;
    margin-left: 200px;
    margin-right: 900px;
}
.body5 .semiboxN{
    background-color: #7ba4a8;
}
.body5 img{
    border-radius: 50px;
}