* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}
h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
.text {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
a {
  color: #758787;
}
.main {
  display: grid;
  grid-template-columns: auto auto;
}
input[type="email"],
input[type="password"], 
input[type="text" i] {
  width: 50%;
  top: 50%;
  left: 50%;
  padding: 12px 20px;
  margin: 12px 250px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 7px;
}
#ps1 {
  padding-left: 5px;
  text-decoration: none;
  margin-left: 600px;
  display: flex;
  font-weight: bold;
  color: #000;
}
i {
  margin-left: -280px;
  cursor: pointer;
}
.text2 {
  margin-top: 30px;
  margin-left: 250px;
  padding-top: 15px;
}
input[type="checkbox"] {
  margin-left: 250px;
  accent-color: #516c6e;
  margin-top: 50px;
}
button {
  margin-top: 30px;
  margin-left: 250px;
  width: 50%;
  text-align: center;
  padding: 12px 20px;
  display: flex;
  border: 1px;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #758787;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  justify-content: center;
}
.img {
  margin-top: 100px;
}