@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}
body {
    background-color: #e5edee;


}
/*navigation bar styling*/
.navigation{
    height: 100px;
    width: 100%;
    background-color:#004581;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 2rem;
    position: fixed;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
navbar ul{
    display: flex;
    margin-left: 6.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 6.5rem;
}
navbar ul li{
    list-style-type: none;
    margin: 0rem 1.2rem;
    display: inline;
    position: relative;
}
navbar ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
navbar ul li a:hover{
    color: #555;
}
.logo{
    color: black;
    font-weight: 900;
    border-radius: 2px;
    width: 130px;
    border: 2px solid transparent;
    padding: 5px 10px ;
    background: #018ABD;
    font-size: 24px;
}

.links{
    margin-left: 13rem;
    display: flex;
    flex-direction: row;
}

.links a{
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    color: #fff;
    margin: 0rem 0.4rem;
    font-size: 0.8rem;
    border-radius: 10px;
}
.links .login{
    border: 1px solid #018ABD;
}
.sign-up{
    background: #018ABD ;
}

.hamburger{
    display: none;
    cursor: pointer;
}


/*navigation media query ends here*/

@media screen and (max-width:1185px) {
    nav{
        justify-content: space-around;
    }
    navbar ul{
        margin-left: 4rem;
        align-items: center;
        margin-right: 0rem;
    }
    navbar ul li{
        margin: 0rem 1.2rem;
    }
    navbar ul li a{
        color: #fff;
        font-size: 17px;
        text-decoration: none;
    }
    .links{
        margin-left: 9rem;
    }
}

@media screen and (max-width:950px) {
    nav{
        justify-content: space-around;
    }
    navbar ul{
        margin-left: 3rem;
        align-items: center;
        margin-right: 0rem;
    }
    navbar ul li{
        margin: 0rem 1rem;
    }
    navbar ul li a{
        color: #fff;
        font-size: 17px;
        text-decoration: none;
    }
    .links{
        margin-left: 7rem;
    }
}

@media screen and (max-width:900px) {
    .navigation{
        padding: 0rem 5rem 0rem 3rem;
        border-bottom: 2px solid #fff;
        justify-content: space-around;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    .logo{
        margin-right: 10rem;
    }
    .hamburger{
        display: block;
        color: #fff;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        border-radius: 0.3rem;
        margin-left: 20rem;
    }
    .hamburger span{
        font-size: 2.5rem;
        position: relative;
        bottom: 10px;
        width: 40px;
        height: 40px;

    }
    navbar{
        flex-direction: column;
        position: absolute;
        top: 92px;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;
        transition: 0.5 all ease-in-out;
        transition-duration: all 1s ease;
        width: 100%;
    }
    navbar ul{
        display: flex;
        flex-direction: column;
        height: 370px;
        margin: 0.5rem auto 0rem 0rem;
        transition: 0.5s;
        background: #004581;
        transition: 0.5 all ease-in-out;
        transition-duration: all 2s ease;
        text-align: center;
        width: 100%;
    }

    navbar ul>div{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
    }
    .active{
        height: 370px;
    }
    navbar ul li{
        padding-bottom: 1rem;
    }
    .links{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        margin: auto;
    }
    .links a{
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }


}

@media screen and (max-width:600px){
    .navigation{
        padding: 0rem 1.3rem;
    }
    .logo{
        margin-right: 5rem;
        font-weight: 700;
        border-radius: 2px;
        width: 110px;
        border: 2px solid transparent;
        padding: 4px 8px ;
        font-size: 21px;
    }
    .hamburger{
        margin-left: 5em;
    }

}
/*navigation bar media query end here*/
